@import url(style.css);
@import url(darkModeToggle.css);

.root{
    --black:rgb(25,25,25);
    --white:#fff;
    --cyan:rgb(0, 194, 215);
    --mint:rgb(0, 222, 181);
}

.header{
    width: 100%;
    display: block;
    height: 4.5em;
    margin: 0;
    background-color: rgb(35,35,35);
    position: sticky;
    z-index: 100;
  }
  
  .inner-header{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: auto;
    position: sticky;
    z-index: 100;
  }
  
  .logo{
    float: left; 
    display: flex;
    text-align: center;
    padding: 1rem;
    margin-right: auto;
    margin-left: 2.5rem;
  }

