@import url(darkStyle.css);
@import url(darkModeToggle.css);

.root{
  --black:rgb(25,25,25);
  --white:#fff;
  --cyan:rgb(0, 194, 215);
  --mint:rgb(0, 222, 181);
}


.setup-item{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .setup-item  > a{
    color:#fff;
    text-decoration: none;
  }

  .item > p{
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 0.2rem 1rem 0.5rem 1rem;
  }


.item > img{
  width: 100%;
  border-width: 0 0 1px 0;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.border{
  border-style: solid;
  border-color: rgb(94, 93, 93);
  border-radius: 0.5rem;
  border-width: 1px;
}
