@import url(style.css);
@import url(darkModeToggle.css);

.root{
  --black:rgb(25,25,25);
  --white:#fff;
  --cyan:rgb(0, 194, 215);
  --mint:rgb(0, 222, 181);
}

.header{
  width: 100%;
  display: block;
  height: 4.5em;
  margin: 0;
  background-color: rgb(35,35,35);
  position: sticky;
  z-index: 100;
}

.inner-header{
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: auto;
  position: sticky;
  z-index: 100;
}

.logo{
  float: left; 
  display: flex;
  text-align: center;
  padding: 1rem;
  margin-right: auto;
  margin-left: 2.5rem;
}


.items-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.setup-item{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
  
  .setup-item  > a{
    color:#fff;
    text-decoration: none;
  }

  .item > p{
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding: 0.2rem 1rem 0.5rem 1rem;
  }


.item > img{
  width: 22rem;
  border-width: 0 0 2px 0;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.border{
  border-style: solid;
  border-color: rgb(94, 93, 93);
  border-radius: 0.5rem;
  border-width: 1px;
}


/* optimizations */



@media only screen and (min-width: 600px) {
  main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
  }

}

@media only screen and (min-width: 768px) {
  main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
